.mp_0 {
    margin: 0 auto !important;
    padding: 0 !important;
}

.contact_bar {
    height: 43px;
    background-color: #f0f2f4;
    border-bottom: 1px solid #E2E2E2;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.contact {
    height: 42px;
    display: flex;
    padding: 9px 0px;
}

.contact ul li a i {
    background-color: #1287BF;
    padding: 4px 7px;
    border-radius: 4px;
}

.bratical_line {
    border-right: solid 1px #E2E2E2;
}

.nav_bar {
    height: 130px;
    color: #424242;
    z-index: 21;
    position: fixed;
    box-shadow: 0px 0px 5px #aaaaaa;
}

.nav_bar_fixd {
    height: 130px;
}

.logo_name {
    display: inline-flex;
}

.center_cus {
    align-items: center;
}

.logo {
    display: inline-flex;
    margin: 0px 10px 0px 0px;
}

.com_name {
    margin-top: 6px;
}

.com_name h1 {
    font-size: 37px;
}

.com_name p {
    font-size: 15px;
}

.menu_cus {
    margin-right: 12px;
}

.mobile_menu {
    display: none;
}

.menu ul li {
    display: inline-flex;
}

.menu ul li a {
    padding: 54px 17px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #424242;
}

.btn_menu {
    font-size: 15px;
    margin-top: 46px;
}

.menu ul li a:hover {
    color: #DE2B24;
}

.dot {
    font-size: 40px;
}

.benar {
    background-image: url(../img/Benar.jpg);
    /*    height: 590px;*/
    padding: 14.8% 0% !important;
    /*    background-repeat: no-repeat;*/
    background-size: 100% 100%;
    /*    display: flex;*/
    /*        justify-content: center;*/
    /*    align-items: center;*/
}

.benar h1 {
    font-size: 3.5vw;
}

.benar h5 {
    font-size: 2.2vw;
    margin-top: -0.5%;
}

.benar button {
    width: 24.5%;
    height: 5.1vw;
    font-size: 1.7vw;
    background-color: #f8cd53;
    margin-top: 20px;
    letter-spacing: 1px;
}

.about_us {
    color: #424242;
    padding: 8% 0% !important;
}

.about_us_title {}

.about_us_title h1 {
    font-size: 36px;
}

.about_us_title p {
    font-size: 20px;
}

.horizontal {
    width: 48px;
    height: 5px;
    background-color: #424242;
    margin-top: 1% !important;
    margin-bottom: 3% !important;
}

.Our_services img {
    margin-bottom: 3%;
}

.adsmanagement {
    margin-bottom: 2.3% !important;
}

.Our_services h2 {
    font-size: 22px;
}

.Our_services p {
    font-size: 13.5px;
}

#our_approch {
    background-color: #f3f3f3;
}

.step_row {
    margin-top: 3% !important;
}

.step_1_left {
    z-index: 1;
    display: flex;
    align-items: center;
}

.step_1 {
    background-color: #de2b24;
    border: 2px solid #ffffff;
    border-radius: 5px;
    height: 105px;
    width: 105px;
    position: absolute;
    right: -6px;
}

.step_1 h1 {
    font-size: 60px;
    font-weight: bold;
}

.step_1 p {
    font-size: 20px;
    margin-top: -20px;
}

.step_2 {
    left: -6px;
}

.step_text_center {
    display: flex;
    align-items: center;
}

.step_1_text_margin {
    margin: 0% 9% 0% 5%;
}

.step_2_text_margin {
    margin: 0% 5% 0% 9%;
}

.step_1_text_margin h1,
.step_2_text_margin h1 {
    font-size: 18px;
}

.step_1_text_margin p,
.step_2_text_margin p {
    font-size: 13.5px;
    text-align: justify;
    margin-top: 1% !important;
}

#our_work {
    background-color: #de2b24;
}

#our_work img {
    width: 100%;
    height: 100%;
}

.project {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 1s ease;
    background-color: #f35e59;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_1:hover .project {
    opacity: 1;
}

.project h1 {
    font-size: 26px;
    margin-top: 40%;
}

.project p {
    font-size: 16px;
    margin-top: -8px;
}

.analysis {
    background-color: #1287bf;
}

.analysis_text h1 {
    font-size: 36px;
}

.analysis_text p {
    font-size: 20px;
    margin-top: -10px;
}

.circle {
    width: 60px;
    height: 60px;
    border: 2.5px solid #ffffff;
    border-radius: 100%;
    position: relative;
    background-color: #1287bf;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.circle:hover {
    background-color: #007DDD;
}

.analysis_text i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin-top: 5px;
    margin-left: 1px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.triangle_up {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #fff;
    margin-top: 2% !important;
}

.customer_info {
    width: 50.6%;
    padding-bottom: 5%;
    margin: 0 auto;
    position: relative;
    border-radius: 3px;
}

.customer_info p {
    font-size: 15px;
    padding-top: 7%;
    padding-bottom: 5%
}

.customer_info form {
    font-size: 15px;
}

.circle_btn_x {
    width: 48px !important;
    height: 48px !important;
    border-radius: 100%;
    border: 2px solid #fff;
    position: absolute;
    right: -18px !important;
    top: -17px;
}

.info_item {
    width: 65%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #d8d8d8;
    margin: 0 auto;
    margin-top: 8px;
    font-size: 14px;
    padding: 0 20px;
    display: block;
}

.submit_btn {
    font-size: 15px;
    width: 160px;
    height: 45px;
    margin-top: 35px;
}

.Get_in_touch {
    background-color: #2a2a2a;
    position: relative;
}

.Get_in_touch h1 {
    font-size: 40px;
    margin-bottom: 33px;
}

.Get_in_touch_p {
    padding-top: 5.5%;
    padding-bottom: 14.5%;
}

.Get_in_touch a {
    border: 2px solid #515151;
    color: #fff;
    text-decoration: none;
}

.Get_in_touch a:hover,
.Get_in_touch button:hover {
    border: 2px solid #de2b24;
    color: #fff;
}

.facebook_b {
    padding: 13px 20px;
}

.twitter_b {
    padding: 13px 16px;
}

.google_b {
    padding: 13px 0px;
}

.linkedin_b {
    padding: 13px 17px;
}

.email_address {
    width: 650px;
    height: 55px;
    background-color: #515151;
    font-size: 14px;
    border: 0px;
    padding: 0 20px;
    margin: 0 auto;
    display: block;
}

.Get_in_touch button {
    width: 155px;
    height: 55px;
    border: 2px solid #515151;
    margin-top: 25px;
    font-size: 17px;
}

.footer {
    width: 100%;
    height: 68px;
    background-color: #515151;
    bottom: 0px;
    position: absolute;
    right: 0px;
}

.footer p {
    font-size: 14px;
    color: #cecece;
    margin-top: 20px;
}

html {
    scroll-behavior: smooth;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#topBtn:hover {
    background-color: #555;
}

@media only screen and (max-width:1199px) {
    .step_1 {
        right: 15px;
    }

    .step_2 {
        left: 8px;
    }

    .step_1_text_margin {
        margin: 0% 8% 0% 4%;
    }

    .step_2_text_margin {
        margin: 0% 4% 0% 8%;
    }

    #our_work_title {
        height: 115px;
    }

    .customer_info p {
        font-size: 11px;
    }
}

@media only screen and (max-width:991px) {
    .container {
        max-width: 95% !important;
    }

    .nav_bar {
        height: 100px;
    }

    .nav_bar_fixd {
        height: 100px;
    }

    .logo_name {
        margin-top: 18px;
    }

    .logo img {
        width: 65px;
    }

    .com_name {
        margin-top: 5px;
        margin-left: -6px;
    }

    .com_name h1 {
        font-size: 28px;
    }

    .com_name p {
        font-size: 11px;
    }

    .menu ul li a {
        font-size: 12px;
        padding: 40px 8px;
    }

    .dot {
        font-size: 30px;
    }

    .btn_menu {
        font-size: 12px;
        margin-top: 34px;
    }

    .benar button {
        height: 45px;
        margin-top: 10px;
    }

    .about_us_title h1 {
        font-size: 28px;
    }

    .about_us_title p {
        font-size: 14px;
    }

    .horizontal {
        width: 38px;
        height: 5px;
    }

    .Our_services {
        max-width: 100% !important;
    }

    .Our_services img {
        height: 60px;
    }

    .Our_services h2 {
        font-size: 18px;
    }

    .Our_services p {
        font-size: 10px;
    }

    .step_1 {
        right: -41px;
        background-color: #de2b24;
        border: 1.5px solid #ffffff;
        border-radius: 2px;
        height: 85px;
        width: 85px;
    }

    .step_2 {
        left: -44px;
    }

    .step_1 h1 {
        font-size: 45px;
    }

    .step_1_text_margin {
        margin: 0% 7% 0% 14%;
    }

    .step_2_text_margin {
        margin: 0% 14% 0% 7%;
    }

    .step_1_text_margin h1,
    .step_2_text_margin h1 {
        font-size: 15px;
    }

    .step_1_text_margin p,
    .step_2_text_margin p {
        font-size: 10.5px;
    }

    .project h1 {
        font-size: 23px !important;
    }

    .project p {
        font-size: 13px !important;
    }

    .analysis_text h1 {
        font-size: 28px;
    }

    .customer_info {
        width: 60%;
    }

    .info_item {
        width: 70%;
        height: 42px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .nav_bar {
        height: 70px;
    }

    .nav_bar_fixd {
        height: 70px;
    }

    .com_name h1 {
        font-size: 30px;
    }

    .com_name p {
        font-size: 12px;
    }

    .logo_name {
        margin-top: 0px;
    }

    .menu_cus {
        display: none;
    }

    .mobile_menu {
        display: block;
        overflow: hidden;
        width: 100%;
        z-index: 21;
        top: -4.6px;
        position: relative;
        box-shadow: 0px 2px 5px #aaaaaa;

    }

    .btn_menu {
        width: 120px;
        font-size: 12px;
        margin-top: -4px;
    }

    #myLinks {
        height: 0px;
        transition: height 0.2s;
    }

    #myLinks a {
        background-color: #E2E2E2;
        color: #000000;
        padding: 8px 16px;
        text-decoration: none;
        font-size: 15px;
        display: block;
        border-bottom: 2px solid #DAD8D9;
    }

    #myLinks a:hover {
        background-color: #666666;
        color: #ffffff;
        box-shadow: 0px 0px 30px #333;
    }

    .icon {
        margin-right: 15px;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 28px;
        height: 3px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.2s;
        border-radius: 35%;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 4px);
        transform: rotate(-45deg) translate(-6px, 4px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -5px);
        transform: rotate(45deg) translate(-5px, -5px);
    }

    .benar button {
        margin-top: 3px;
    }

    .benar h1 {
        font-size: 6.5vw;
    }

    .benar h5 {
        font-size: 4vw;
    }

    .benar button {
        width: 50%;
        font-size: 3.4vw;
        letter-spacing: 0.5px;
        height: 50%;
        margin-top: 2%;
    }

    .about_us {}

    .Our_services img {
        width: auto;
        margin-top: 25px;
        margin-bottom: 5px;
    }

    .Our_services h2 {
        font-size: 20px;
    }

    .Our_services p {
        font-size: 12px;
    }

    .about_us h1 {
        font-size: 30px;
    }

    .horizontal {
        width: 42px;
    }

    .step_1 {
        right: -33px;
        border: 1px solid #ffffff;
        border-radius: 2px;
        height: 65px;
        width: 65px;
    }

    .step_1 h1 {
        margin-top: 6%;
    }

    .step_1 p {
        font-size: 14px;
        margin-top: -17px;
    }

    .step_2 {
        left: -33px;
    }

    .step_1_text_margin {
        margin: 0% 6% 0% 12%;
    }

    .step_2_text_margin {
        margin: 0% 12% 0% 5%;
    }

    .step_1_text_margin h1,
    .step_2_text_margin h1 {
        font-size: 12px !important;
    }

    .step_1_text_margin p,
    .step_2_text_margin p {
        font-size: 7.5px !important;
    }

    .project h1 {
        font-size: 20px !important;
    }

    .project p {
        font-size: 12px !important;
    }

    .analysis_text h1 {
        font-size: 22px;
    }

    .analysis_text p {
        font-size: 14px;
        margin-top: -8px;
    }

    .circle {
        width: 45px;
        height: 45px;
        border: 2px solid #ffffff;
    }

    .analysis_text i {
        padding: 7px;
        border-width: 0 2.4px 2.4px 0;
        margin-top: 5px;
    }

    .triangle_up {
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid #fff;
    }

    .customer_info {
        width: 70%;
    }

    .customer_info p {
        font-size: 10px;
    }

    .circle_btn_x {
        width: 40px !important;
        height: 40px !important;
        right: -15px !important;
    }

    .info_item {
        width: 75%;
        height: 40px;
        margin-top: 6px;
        font-size: 12px;
    }

    .submit_btn {
        font-size: 15px;
        width: 130px;
        height: 40px;
        margin-top: 25px;
    }

    .Get_in_touch h1 {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .Get_in_touch_p {
        padding-top: 5.5%;
        padding-bottom: 14.5%;
    }

    .facebook_b {
        padding: 10px 16px;
    }

    .twitter_b {
        padding: 9px 12px;
    }

    .google_b {
        padding: 9px 0px;
    }

    .google_b img {
        width: 40px;
    }

    .linkedin_b {
        padding: 9px 13px;
    }

    .email_address {
        width: 60%;
        height: 40px;
        font-size: 13px;
    }

    .Get_in_touch button {
        width: 130px;
        height: 45px;
        margin-top: 20px;
        font-size: 15px;
    }

    .footer {
        height: 55px;
        position: absolute;
    }

    .footer p {
        font-size: 12px;
        justify-content: center;
    }
}

@media only screen and (max-width: 575.98px) {
    .logo img {
        width: 50px;
    }

    .com_name h1 {
        font-size: 20px;
    }

    .com_name p {
        font-size: 8px;
    }

    .logo_name {
        margin-top: 10px;
    }

    .icon {
        margin-top: 6px;
    }

    .btn_menu {
        width: 105px;
        font-size: 9px;
        letter-spacing: 0.5px;
        margin-top: 5px;
        margin-right: 15px;
    }

    .about_us {}

    .about_us h1 {
        font-size: 24px;
    }

    .horizontal {
        width: 27px;
    }

    .about_us_title h1 {
        font-size: 26px;
    }

    .project h1 {
        font-size: 10px !important;
    }

    .project p {
        font-size: 7px !important;
    }

    .step_1 {
        right: -17px;
        border: 1px solid #ffffff;
        border-radius: 2px;
        height: 36px;
        width: 36px;
    }

    .step_2 {
        left: -17px;
    }

    .step_1 h1 {
        font-size: 18px;
    }

    .step_1 p {
        font-size: 9px;
        margin-top: -13px;
    }

    .step_1_text_margin h1,
    .step_2_text_margin h1 {
        font-size: 10px !important;
    }

    .step_1_text_margin p,
    .step_2_text_margin p {
        font-size: 6.5px !important;
    }

    .analysis_text h1 {
        font-size: 16px;
    }

    .analysis_text p {
        font-size: 12px;
        margin-top: -4px;
    }

    .circle {
        width: 40px;
        height: 40px;
    }

    .analysis_text i {
        padding: 6px;
        margin-top: 5px;
    }

    .triangle_up {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #fff;
    }

    .customer_info {
        width: 90%;
    }

    .customer_info p {
        font-size: 7px;
    }

    .circle_btn_x {
        width: 35px !important;
        height: 35px !important;
        top: -12px;
        right: -12px !important;
    }

    .info_item {
        width: 80%;
        height: 30px;
        font-size: 10px;
    }

    .submit_btn {
        font-size: 10px;
        width: 100px;
        height: 30px;
        margin-top: 15px;
    }

    .Get_in_touch h1 {
        font-size: 26px;
    }

    .facebook_b {
        padding: 3px 9px;
    }

    .twitter_b {
        padding: 3px 5px;
    }

    .google_b {
        padding: 3px 0px;
    }

    .google_b img {
        width: 26px;
    }

    .linkedin_b {
        padding: 3px 7px;
    }

    .email_address {
        width: 75%;
        height: 30px;
        font-size: 13px;
    }

    .Get_in_touch button {
        font-size: 10px;
        width: 90px;
        height: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .footer {
        height: 30px;
    }

    .footer p {
        font-size: 10px;
        margin: 8px 0px;
    }
}

@media only screen and (max-width: 360px) {
    .contact_bar {
        font-size: 14px !important;
    }

    .about_us_title p {
        font-size: 12px;
    }
}